#######################################
##### common
#######################################
*.yml
*.md

#######################################
##### shared
#######################################
shared/data
shared/data/**

#######################################
##### internal
#######################################
*example

#######################################
##### git
#######################################
.git
.git/**
.github/
.github/**
.gitignore

#######################################
##### docker
#######################################
.dockerignore
Dockerfile

#######################################
##### dep managers
#######################################
Gopkg.*
glide.*